<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebSocketsBaseAddress" value="wss://stream.binance.com:9443/ws/"/>
    <add key="ApiBaseAddress" value="https://api.binance.com"/>


    <add key="ApiKey" value="rV5EUhonDIIlQ6BqPM9sVG7uUdSuuFEoXaus8HeB1bWjIp4mOUDxl0J9eskgPdVf"/>
    <add key="ApiSecret" value="tMWHBP82Ct2y2w9C8vDkOIYKvWBMl93sDrbapArcbDfECAOisoczWCXyCOTEWpzH"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>